
    <div class="contenido-header">
        <header>
            <div class="logo">
                <a href="" class="palyers"><span>M</span>isPlayers</a>
            </div>
            <nav>
                <ul>
                    <li><a [routerLink]="['/jugadores']" routerLinkActive="router-link-active"><i class="fa-solid fa-people-group"   ></i>jugadores</a></li>
                    <li><a [routerLink]="['/listajugadores']" routerLinkActive="router-link-active"><i class="fa-solid fa-calendar-days"  ></i>fixture</a></li>
                    <li><a href=""><i class="fa-solid fa-list-ol"></i>Tabla Posicion</a></li>
                    <li><a href=""><i class="fa-solid fa-video"></i>Tv online</a></li>
                     <li>
                        
                            <a href="">FERNANDA HART  <i class="fa-solid fa-caret-down flecha"></i></a>
                            <ul class="dropdown">
                              <li>fernaGomez@gmail.com</li>
                              <li>FerAzul</li>
                              <li>Conectado  <i class="fa-solid fa-check conectado"></i></li>
                              <li>editar <i class="fa-solid fa-gear"></i> </li>
                              <li>logout<i class="fa-solid fa-right-from-bracket logout"></i></li>
                            </ul>
                      
                     </li>
                </ul>
    
             
            </nav>
    
            <div class="nav-responsive">
                <i class="fa-solid fa-bars"></i>
            </div>
        </header>
    </div>
